<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        .inline{
            width: 49%;
            display: inline-block;
            border: 1px solid black;
        }
        #rightdiv{
            text-align: right;
        }
        .padding{
            border: 1px solid black;
            padding: 10px;
            margin-top: 10px;
        }
    </style>
</head>
<body>

    <div class="inline">
        <p>This is the left div</p>
    </div>
    <div id="rightdiv" class="inline">
        <p>This is the right div</p>
    </div>
    <div class="padding">
        <p>This div should not be sidebyside</p>
        <p>This is another paragraph</p>
    </div>
        
</body>
</html>